<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Image processor</title>
  </head>
  <body>
    <h1>Image processor main page</h1>
    <h2>Use this form for image upload</h2>
    <form
      enctype="multipart/form-data"
      action="/image"
      method="post"
    >
      <input type="file" name="imageFile" />
      <input type="submit" value="upload" />
    </form>
  </body>
</html>